.acco {
  &__trigger {
    background: #ff8663;
    padding: rem(15px) rem(15px);
    border-radius: rem(25px);
    width: rem(460px);
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-top: rem(10px) solid #ff8663;
      border-right: rem(10px) solid transparent;
      border-bottom: rem(10px) solid transparent;
      border-left: rem(10px) solid transparent;
      border-bottom-width: 0;
      transition: all 0.5s;
      margin-left: auto;
    }

    &--changed {
      transition: background-color .2s linear;
      background: #696666;

      &:hover {
        background-color: #8d8282; 
      }
    }
  }
}

.acco__item {
  margin-bottom: rem(6px);
  background: #f1f1f1;
  border-radius: rem(25px);
  width: rem(461px);

  &:last-child {
    margin-bottom: 0;
  }
}

.acco__item--color {
  background: #e7e7e7;
  color: #696666;
}

.acco__content {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: max-height .3s ease-in-out;
}

.acco__item--active {
  transition: all 0.5s ease;
  .acco__trigger {
      transition: background-color .2s linear;
    &:after {
      transform: rotate(-180deg);
      border-top: rem(10px) solid #fff;
      border-right: rem(10px) solid transparent;
      border-bottom: rem(10px) solid transparent;
      border-left: rem(10px) solid transparent;
      border-bottom-width: 0;
    }
    &:hover {
        background-color: #ea7a5a;
    }
  }
}
