extends ../_template

block variables 
    - var title = "Test"

block content
    .wrapper
        section.hero
            header.header
                .container
                    .header__title
                        h2 header  
            .content              
                .container.container--changed                             
                    aside.content__sidebar
                    .content__center
                        button.hamburger.hamburger--squeeze#button(type='button')
                            span.hamburger-box
                                span.hamburger-inner
                        .content__text
                            p Lorem ipsum dolor sit amet, quot modus mea te. Vix ea congue nostrum. Vix audiam similique elaboraret eu, per cu simul debitis, ei sea natum omittantur. Vel ea elitr fastidii eligendi, ne nec congue detracto. An duo etiam veniam, et pri commodo efficiendi, no mel quas aeque viris. Dicant iuvaret rationibus ius te, in mel ullum expetendis, vix no eripuit ceteros erroribus. Timeam iuvaret dolorum mel ea, veri imperdiet his et.
                        .content__pic
                            img.content__img(src="https://dummyimage.com/300").wow.bounceInLeft
                        .content__text.content__text--changed
                            p Lorem ipsum dolor sit amet, quot modus mea te. Vix ea congue nostrum. Vix audiam similique elaboraret eu, per cu simul debitis, ei sea natum omittantur. Vel ea elitr fastidii eligendi, ne nec congue detracto. An duo etiam veniam, et pri commodo efficiendi, no mel quas aeque viris. Dicant iuvaret rationibus ius te, in mel ullum expetendis, vix no eripuit ceteros erroribus. Timeam iuvaret dolorum mel ea, veri imperdiet his et.
                            p Lorem ipsum dolor sit amet, quot modus mea te. Vix ea congue nostrum. Vix audiam similique elaboraret eu, per cu simul debitis, ei sea natum omittantur. Vel ea elitr fastidii eligendi, ne nec congue detracto. An duo etiam veniam, et pri commodo efficiendi, no mel quas aeque viris. Dicant iuvaret rationibus ius te, in mel ullum expetendis, vix no eripuit ceteros erroribus. Timeam iuvaret dolorum mel ea, veri imperdiet his et.   
                        .content__pic.content__pic--changed
                            img.content__img(src="https://dummyimage.com/300").wow.bounceInRight                
                    .content__right
        section.map
            #map









        
    
         
