extends ../_template

block variables 
    - var title = "Test"

block content
    .wrapper
        .container  
            ul.acco__list
                li.acco__item.acco__item--active
                    a(href="#").acco__trigger
                        h4 Основы языка и как на нем говорить правильно
                    .acco__content
                        p Лексическая структура
                        p Типы данных
                        p Выражения и операторы инстркции
                li.acco__item
                    a(href="#").acco__trigger.acco__item--color
                        h4 Функции
                    .acco__content
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolores veniam minus ab, porro nostrum eum earum saepe aliquid. Voluptas officia doloremque assumenda amet quidem. Voluptatum itaque iusto ab nam!
                li.acco__item
                    a(href="#").acco__trigger.acco__trigger--changed
                        h4 Обработка ошибок и отладка
                    .acco__content
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, similique error! Porro dolorem eligendi natus obcaecati placeat veritatis autem at eaque vitae fugit? Quibusdam dicta repudiandae doloremque corrupti iure saepe?Porro obcaecati aut aperiam id, enim blanditiis commodi quia accusantium, rem doloremque amet. Distinctio accusamus natus esse! Nesciunt, dignissimos ad. Obcaecati dicta ipsa rerum pariatur nesciunt ullam et molestiae quidem.
                li.acco__item
                    a(href="#").acco__trigger.acco__item--color
                        h4 Объекты и массивы
                    .acco__content
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nostrum commodi non quia libero numquam! Dolorem dignissimos amet qui perspiciatis ullam illo provident, omnis odit voluptas. Eum sapiente aliquid unde.  
                li.acco__item
                    a(href="#").acco__trigger.acco__trigger--changed
                        h4 События
                    .acco__content
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit est ex at, sed perspiciatis officia. In provident cumque iusto dolorem sapiente veritatis vero et, quam alias exercitationem praesentium iure dicta?Consequuntur voluptate ex laboriosam provident nihil quos perspiciatis voluptatum, molestiae sunt? Tempore officiis natus impedit beatae ipsam, maxime eum, nostrum excepturi, consectetur eveniet distinctio repudiandae inventore amet fuga quam harum?Explicabo temporibus natus maiores deleniti sit neque quia cum quasi eligendi? Ratione labore vitae eligendi ut voluptates mollitia culpa iure a veritatis voluptate, hic consectetur repudiandae sapiente blanditiis quas itaque.
                         p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit est ex at, sed perspiciatis officia. In provident cumque iusto dolorem sapiente veritatis vero et, quam alias exercitationem praesentium iure dicta?Consequuntur voluptate ex laboriosam provident nihil quos perspiciatis voluptatum, molestiae sunt? Tempore officiis natus impedit beatae ipsam, maxime eum, nostrum excepturi, consectetur eveniet distinctio repudiandae inventore amet fuga quam harum?Explicabo temporibus natus maiores deleniti sit neque quia cum quasi eligendi? Ratione labore vitae eligendi ut voluptates mollitia culpa iure a veritatis voluptate, hic consectetur repudiandae sapiente blanditiis quas itaque.











        
    
         
